<header class="site-header">
    <div class="container inner clearfix">
        <div class="head-name">
            <a href="/">
                <span class="head-logo">SudoChina</span> <strong>KidSez</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="/search/">
                <input type="text" class="form-control text-27 input-search" name="keyword" autocomplete="off" spellcheck="false" placeholder="Search">
                <button class="btn-search" type="submit"></button>
            </form>
        </div>
        <ul class="head-nav">
            <li class="current">
                <a href="/">Home</a>
            </li>
        </ul>
        <div class="head-misc">
            <span>Want a new writing prompt?</span>
            <a class="btn btn-primary action" href="/new/question/">+ New Question</a>
        </div>
    </div>
</header>